In [1]:
import pandas as pd
import numpy as np

# Creating a data frame

In [126]:
#when writing a data frame from scratch pandas will take data in the form of a dictionary

data ={'ones':np.ones(10),
       'zeros':np.zeros(10)
}

#making a data frame from scratch
#start with any data or colum names that you want to input
data_frame = pd.DataFrame(data,columns=['ones','zeros'])

print (data_frame)

   ones  zeros
0     1      0
1     1      0
2     1      0
3     1      0
4     1      0
5     1      0
6     1      0
7     1      0
8     1      0
9     1      0

In [133]:
#to add additional colums afterwards define them as follows:
#simply define your new colum anme and assign data to it

data_frame['new_colum']=np.ones(10)+1

print (data_frame)

   ones  zeros  new_colum
0     1      0          2
1     1      0          2
2     1      0          2
3     1      0          2
4     1      0          2
5     1      0          2
6     1      0          2
7     1      0          2
8     1      0          2
9     1      0          2

In [136]:
#creating a pd.DataFrame from lists

#your lists of data
fruit= ('Apple','Banana','Pineapple')
shape=('round','long','spikey')



#define keys
list_keys=('Fruit','Shape')
#create master list of data
list_data=[fruit,shape]
#zip data with coresponding keys
zipped_data = list(zip(list_keys,list_data))
#make into a dictionary
df_input_data = dict(zipped_data)

#read in as data frame
df_fruit = pd.DataFrame(df_input_data)

print(df_fruit)

       Fruit   Shape
0      Apple   round
1     Banana    long
2  Pineapple  spikey
       Fruit   Shape  number
0      Apple   round       1
1     Banana    long       5
2  Pineapple  spikey     NaN

In [170]:
#adding a new colum with nans

df_fruit['number']=[1,5,np.nan]

#print(df_fruit)

#adding a new row of 'oranges'
fruit2={'Fruit':['orange','Kiwi','Grapes'],
       'Shape':['round',np.nan,'roundish'],
       'number':[1,np.nan,100.5]}
df_fruit2=pd.DataFrame(fruit2,columns=(['Fruit','Shape','number']))
print df_fruit2

df_fruit.append(df_fruit2, ignore_index=True)

#when appending one df into another there is some truble with how to access the merged frame
# in this case the command df_fruit.ix[3] will not work!!

    Fruit     Shape  number
0  orange     round     1.0
1    Kiwi       NaN     NaN
2  Grapes  roundish   100.5

       Fruit     Shape  number
0      Apple     round     1.0
1     Banana      long     5.0
2  Pineapple    spikey     NaN
3     orange     round     1.0
4       Kiwi       NaN     NaN
5     Grapes  roundish   100.5

# Reading and writing files

If you have an exsisting file or want to write our table into a file you can easily do this with pandas

# pandas file types

pandas reads a wide variety of file types (csv,txt and alsp pickled files). 
It is even possible to execute sql queries! (not showing that today)

It does NOT read fits files! 

To read / write data define what type you want (i.e pd.read_XYZ)

In [121]:
#reading in the data file

filename='cereal.csv'
df=pd.read_csv(filename)

#other read functions include
    #pd.read_table
    #pd.read_text

Other options for the various read methods include what deliminators to use.
These can be defined with 'sep =' when reading in the file.
                ','-comma
                ' '- whitespace
                '\t'-tap
For excell files/workbooks you can define the sheet_name that you want to read in  
If you dont want the total file you can define the number of rows to read in
Also define whether or not you are reading in the header (header=)or rename the colums 
Excluding the header means you colums will not be named!!

# retriving data frame information

a full list / cheat sheet regarding pandas is availible with this material!

In [60]:
#basic info
#comment and uncomment to have a look at the various methods



#df.info() # basic information regarding your colums and number of objects in each column (will flag nans)

#df.count() # number coun in each colum with theyr respective keys

#df.shape # shape of your data frame (as usual)

#df.columns # names of your columns

#df.index # unique index list

#df.keys() #list of your keys to access column data

#df.describe() # returns basic info for each column (count,unique etc.)

#df.idxmin() #minimum or maximim index value (doens't work with example data set)

Series([], dtype: float64)

# Selecting

In [76]:
#selecting rows

#by label i.e the index number (unique identifier assosiated with a dataentry)
print(df.ix[1])

#by position
print (df.iloc[1])

#slicing
print (df[76:])

#selecting colums

#by keys
print (df['name'])

# or select in both rows and colums

print (df.ix[1,'name'])

name        100% Bran
mfr                 N
type                C
calories           70
protein             4
fat                 1
sodium            130
fiber              10
carbo               5
sugars              6
potass            280
vitamins           25
shelf               3
weight              1
cups             0.33
rating      68.402973
Name: 1, dtype: object
name        100% Bran
mfr                 N
type                C
calories           70
protein             4
fat                 1
sodium            130
fiber              10
carbo               5
sugars              6
potass            280
vitamins           25
shelf               3
weight              1
cups             0.33
rating      68.402973
Name: 1, dtype: object
                   name mfr type calories protein fat sodium fiber carbo  \
76             Wheaties   G    C      100       3   1    200     3    17
77  Wheaties Honey Gold   G    C      110       2   1    200     1    16

   sugars potass vitamins shelf weight  cups     rating
76      3    110       25     1      1     1  51.592193
77      8     60       25     1      1  0.75  36.187559
0                        String
1                     100% Bran
2             100% Natural Bran
3                      All-Bran
4     All-Bran with Extra Fiber
5                Almond Delight
6       Apple Cinnamon Cheerios
7                   Apple Jacks
8                       Basic 4
9                     Bran Chex
10                  Bran Flakes
11                 Cap'n'Crunch
12                     Cheerios
13        Cinnamon Toast Crunch
14                     Clusters
...
63                Rice Krispies
64               Shredded Wheat
65       Shredded Wheat 'n'Bran
66    Shredded Wheat spoon size
67                       Smacks
68                    Special K
69      Strawberry Fruit Wheats
70            Total Corn Flakes
71            Total Raisin Bran
72            Total Whole Grain
73                      Triples
74                         Trix
75                   Wheat Chex
76                     Wheaties
77          Wheaties Honey Gold
Name: name, Length: 78, dtype: object
100% Bran

In [100]:
# for a brief look at some of your data call head or tail (also works well if previously you sorted your data frame!)

#will return you the top 5 elements in your data frame
print (df['cups'].head())

#will return the last 5 elements in your data frame
print (df['cups'].tail())

# an example of sorting  and using the tail method
print df.sort(columns=['cups','sugars']).head()

# if you want to access sorted data say the fourth entry in you r sorted table use iloc not ix!!!
print df.sort(columns=['cups','sugars']).iloc[[3]]

0    Float
1     0.33
2        1
3     0.33
4      0.5
Name: cups, dtype: object
73    0.75
74       1
75    0.67
76       1
77    0.75
Name: cups, dtype: object
                         name mfr type calories protein fat sodium fiber  \
34                 Grape-Nuts   P    C      110       3   0    170     3
35         Great Grains Pecan   P    C      120       3   3     75     3
3                    All-Bran   K    C       70       4   1    260     9
1                   100% Bran   N    C       70       4   1    130    10
4   All-Bran with Extra Fiber   K    C       50       4   0    140    14

   carbo sugars potass vitamins shelf weight  cups     rating
34    17      3     90       25     3      1  0.25  53.371007
35    13      4    100       25     3      1  0.33  45.811716
3      7      5    320       25     3      1  0.33  59.425505
1      5      6    280       25     3      1  0.33  68.402973
4      8      0    330       25     3      1   0.5  93.704912
        name mfr type calories protein fat sodium fiber carbo sugars potass  \
1  100% Bran   N    C       70       4   1    130    10     5      6    280

  vitamins shelf weight  cups     rating
1       25     3      1  0.33  68.402973

# Applying functions

In [113]:
# one way to write a function to count he lenght of the name of each cereal
def count_string(data):
    lenght =[]
    for i in data:
        lenght.append(len(i))
    return lenght

name_lenght=count_string(df['name'])


#alternative much shorter version !!
f = lambda x: len(x)
df['name'].apply(f)

#if you wanted to apply his not only to the name version but you wanted to know the length of any object in your data frame :

df.applymap(f)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,6,11,11,3,3,3,3,5,5,3,3,3,3,5,5,5
1,9,1,1,2,1,1,3,2,1,1,3,2,1,1,4,9
2,17,1,1,3,1,1,2,1,1,1,3,1,1,1,1,9
3,8,1,1,2,1,1,3,1,1,1,3,2,1,1,4,9
4,25,1,1,2,1,1,3,2,1,1,3,2,1,1,3,9
5,14,1,1,3,1,1,3,1,2,1,2,2,1,1,4,9
6,23,1,1,3,1,1,3,3,4,2,2,2,1,1,4,9
7,11,1,1,3,1,1,3,1,2,2,2,2,1,1,1,9
8,7,1,1,3,1,1,3,1,2,1,3,2,1,4,4,9
9,9,1,1,2,1,1,3,1,2,1,3,2,1,1,4,9
10,11,1,1,2,1,1,3,1,2,1,3,2,1,1,4,9
11,12,1,1,3,1,1,3,1,2,2,2,2,1,1,4,9
12,8,1,1,3,1,1,3,1,2,1,3,2,1,1,4,9
13,21,1,1,3,1,1,3,1,2,1,2,2,1,1,4,9
14,8,1,1,3,1,1,3,1,2,1,3,2,1,1,3,9
15,11,1,1,3,1,1,3,1,2,2,2,2,1,1,1,9
16,9,1,1,3,1,1,3,1,2,1,2,2,1,1,1,9
17,11,1,1,3,1,1,3,1,2,1,2,2,1,1,1,9
18,9,1,1,3,1,1,2,1,2,2,2,2,1,1,1,9
19,13,1,1,3,1,1,3,1,2,2,2,2,1,1,1,9
20,18,1,1,3,1,1,3,1,2,1,3,2,1,1,3,9
21,22,1,1,3,1,1,2,1,2,1,2,1,1,1,1,9
22,7,1,1,3,1,1,3,1,2,1,2,2,1,1,1,9
23,22,1,1,3,1,1,3,1,2,2,3,2,1,1,4,9
24,11,1,1,3,1,1,3,1,2,1,2,2,1,1,4,9
25,11,1,1,3,1,1,3,1,2,2,2,2,1,1,1,9
26,14,1,1,3,1,1,3,1,2,2,2,2,1,1,4,9
27,19,1,1,3,1,1,1,1,2,1,3,2,1,1,3,9
28,38,1,1,3,1,1,3,1,2,2,3,2,1,4,4,9
29,13,1,1,3,1,1,3,1,2,2,3,2,1,4,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48,20,1,1,3,1,1,3,1,2,1,2,2,1,1,1,9
49,16,1,1,3,1,1,3,1,2,1,2,2,1,1,4,9
50,25,1,1,3,1,1,3,1,2,1,3,2,1,4,4,8
51,17,1,1,2,1,1,3,1,2,1,2,2,1,1,1,9
52,20,1,1,3,1,1,3,3,4,2,3,2,1,4,3,9
53,21,1,1,3,1,1,3,1,2,2,3,2,1,4,4,9
54,10,1,1,3,1,1,3,1,2,1,2,3,1,1,1,8
55,11,1,1,2,1,1,1,1,2,1,2,1,1,3,1,9
56,12,1,1,2,1,1,1,1,2,1,2,1,1,3,1,9
57,18,1,1,3,1,1,3,1,2,1,3,2,1,1,3,9
58,14,1,1,3,1,1,1,3,2,2,3,1,1,1,4,9
59,11,1,1,3,1,1,3,1,2,2,3,2,1,4,4,9
60,15,1,1,3,1,1,3,3,4,1,3,2,1,1,3,7
61,14,1,1,2,1,1,1,1,2,1,3,2,1,1,3,9
62,9,1,1,3,1,1,3,1,2,1,2,2,1,1,4,9
63,13,1,1,3,1,1,3,1,2,1,2,2,1,1,1,9
64,14,1,1,2,1,1,1,1,2,1,2,1,1,4,1,9
65,22,1,1,2,1,1,1,1,2,1,3,1,1,1,4,9
66,25,1,1,2,1,1,1,1,2,1,3,1,1,1,4,9
67,6,1,1,3,1,1,2,1,1,2,2,2,1,1,4,9
68,9,1,1,3,1,1,3,1,2,1,2,2,1,1,1,9
69,23,1,1,2,1,1,2,1,2,1,2,2,1,1,1,9
70,17,1,1,3,1,1,3,1,2,1,2,3,1,1,1,9
71,17,1,1,3,1,1,3,1,2,2,3,3,1,3,1,9
72,17,1,1,3,1,1,3,1,2,1,3,3,1,1,1,9
73,7,1,1,3,1,1,3,1,2,1,2,2,1,1,4,9
74,4,1,1,3,1,1,3,1,2,2,2,2,1,1,1,9
75,10,1,1,3,1,1,3,1,2,1,3,2,1,1,4,9
76,8,1,1,3,1,1,3,1,2,1,3,2,1,1,1,9
77,19,1,1,3,1,1,3,1,2,1,2,2,1,1,4,9

# removing nans and replacing values

In [201]:
#at this stage you can try using any of the other kaggle datasets in the folder to have a play around
#just make sure you adjust all the column names accordingly!

filename='cereal2.csv'

df=pd.read_csv(filename, nrows=50, usecols=[0,9,15])

#if you skip rows and do not define a set of colum names it will assign the values it finds in the first row...
#other method for this specific example is to use df.keys()[x] to determine the relevant names
df_extra_rows=pd.read_csv(filename,skiprows=51,usecols=[0,9,15], names=['name','sugars','rating'])

#check that we didn't download a row twice

print(df.ix[49],df_extra_rows.ix[0]) #using an index of -1 won't work

df_columns=pd.read_csv(filename,usecols=[1,11])

(name      Nutri-Grain Almond-Raisin
sugars                            7
rating                     40.69232
Name: 49, dtype: object, name      Nutri-grain Wheat
sugars                    2
rating             59.64284
Name: 0, dtype: object)

In [222]:
# find out where there are nan's
# returns you how many null objects
df.info()

# THIS WILL NOT WORK!! as np.nan==np.nan will return False!!!
df['sugars']==np.nan

#However this will!! to filter out nans use the np.isnan function
df['sugars'].apply(np.isnan)

#this way you can find the idex of each nan value 

np.where(df['sugars'].apply(np.isnan))

#if you know the location of the nan use df.loc[x]
df['sugars'].ix[np.where(df['sugars'].apply(np.isnan))]=(1,1,1,1,1)

#alternatively use the pd.fillna function
#just select what filler you want for you nan's

df.fillna(('nothing to see here'))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 3 columns):
name      50 non-null object
sugars    50 non-null float64
rating    45 non-null float64
dtypes: float64(2), object(1)
memory usage: 1.6+ KB

                                      name  sugars               rating
0                                100% Bran       6             68.40297
1                        100% Natural Bran       8             33.98368
2                                 All-Bran       5             59.42551
3                All-Bran with Extra Fiber       0             93.70491
4                           Almond Delight       8             34.38484
5                  Apple Cinnamon Cheerios      10             29.50954
6                              Apple Jacks      14             33.17409
7                                  Basic 4       8             37.03856
8                                Bran Chex       6             49.12025
9                              Bran Flakes       0  nothing to see here
10                            Cap'n'Crunch      12             18.04285
11                                Cheerios       1               50.765
12                   Cinnamon Toast Crunch       9             19.82357
13                                Clusters       0             40.40021
14                             Cocoa Puffs      13             22.73645
15                               Corn Chex       3  nothing to see here
16                             Corn Flakes       2             45.86332
17                               Corn Pops      12             35.78279
18                           Count Chocula      13             22.39651
19                      Cracklin' Oat Bran       7             40.44877
20                  Cream of Wheat (Quick)       0             64.53382
21                                 Crispix       3             46.89564
22                  Crispy Wheat & Raisins       0              36.1762
23                             Double Chex       5             44.33086
24                             Froot Loops      13             32.20758
25                          Frosted Flakes      11  nothing to see here
26                     Frosted Mini-Wheats       7             58.34514
27  Fruit & Fibre Dates; Walnuts; and Oats      10             40.91705
28                           Fruitful Bran      12             41.01549
29                          Fruity Pebbles      12             28.02577
30                            Golden Crisp      15             35.25244
31                          Golden Grahams       9             23.80404
32                       Grape Nuts Flakes       0              52.0769
33                              Grape-Nuts       3             53.37101
34                      Great Grains Pecan       4             45.81172
35                        Honey Graham Ohs      11  nothing to see here
36                      Honey Nut Cheerios      10             31.07222
37                              Honey-comb       0             28.74241
38             Just Right Crunchy  Nuggets       6             36.52368
39                  Just Right Fruit & Nut       9             36.47151
40                                     Kix       3             39.24111
41                                    Life       6             45.32807
42                            Lucky Charms      12             26.73452
43                                   Maypo       3             54.85092
44        Muesli Raisins; Dates; & Almonds      11             37.13686
45       Muesli Raisins; Peaches; & Pecans      11  nothing to see here
46                    Mueslix Crispy Blend      13             30.31335
47                    Multi-Grain Cheerios       6             40.10597
48                        Nut&Honey Crunch       9             29.92428
49               Nutri-Grain Almond-Raisin       7             40.69232

# merging data frames

a number of data frames have been created for you above. Using the merge and concat function in pandas try stitching them back together.
(start with

In [229]:
# use the merge function on the various data frames above

help(pd.merge)

#df_merged=

SyntaxError: invalid syntax (<ipython-input-229-474d7f5056d2>, line 5)

In [230]:
# use the merge function on the various data frames above

help(pd.concat)

#df_concat=

Help on function concat in module pandas.tools.merge:

concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, copy=True)
    Concatenate pandas objects along a particular axis with optional set logic
    along the other axes. Can also add a layer of hierarchical indexing on the
    concatenation axis, which may be useful if the labels are the same (or
    overlapping) on the passed axis number

    Parameters
    ----------
    objs : a sequence or mapping of Series, DataFrame, or Panel objects
        If a dict is passed, the sorted keys will be used as the `keys`
        argument, unless it is passed, in which case the values will be
        selected (see below). Any None objects will be dropped silently unless
        they are all None in which case a ValueError will be raised
    axis : {0, 1, ...}, default 0
        The axis to concatenate along
    join : {'inner', 'outer'}, default 'outer'
        How to handle indexes on other axis(es)
    join_axes : list of Index objects
        Specific indexes to use for the other n - 1 axes instead of performing
        inner/outer set logic
    verify_integrity : boolean, default False
        Check whether the new concatenated axis contains duplicates. This can
        be very expensive relative to the actual data concatenation
    keys : sequence, default None
        If multiple levels passed, should contain tuples. Construct
        hierarchical index using the passed keys as the outermost level
    levels : list of sequences, default None
        Specific levels (unique values) to use for constructing a
        MultiIndex. Otherwise they will be inferred from the keys
    names : list, default None
        Names for the levels in the resulting hierarchical index
    ignore_index : boolean, default False
        If True, do not use the index values along the concatenation axis. The
        resulting axis will be labeled 0, ..., n - 1. This is useful if you are
        concatenating objects where the concatenation axis does not have
        meaningful indexing information. Note the the index values on the other
        axes are still respected in the join.
    copy : boolean, default True
        If False, do not copy data unnecessarily

    Notes
    -----
    The keys, levels, and names arguments are all optional

    Returns
    -------
    concatenated : type of objects

In [226]:
# making a new colum using the apply function
df['name_length']=df['name'].apply(f)
df.keys()
#overwriting colums
df['name_length']=df['name_length']+1

# saving files

In [228]:
#similar to reading in files you can write into all file formats using the pd.to_xyz command
#pandas can even write to latex files !!!!!!!

help(pd.DataFrame.to_csv)

df.to_csv('merged_csv', sep='\t')

Help on method to_csv in module pandas.core.frame:

to_csv(*args, **kwargs) unbound pandas.core.frame.DataFrame method
    Write DataFrame to a comma-separated values (csv) file

    Parameters
    ----------
    path_or_buf : string or file handle, default None
        File path or object, if None is provided the result is returned as
        a string.
    sep : character, default ","
        Field delimiter for the output file.
    na_rep : string, default ''
        Missing data representation
    float_format : string, default None
        Format string for floating point numbers
    columns : sequence, optional
        Columns to write
    header : boolean or list of string, default True
        Write out column names. If a list of string is given it is assumed
        to be aliases for the column names
    index : boolean, default True
        Write row names (index)
    index_label : string or sequence, or False, default None
        Column label for index column(s) if desired. If None is given, and
        `header` and `index` are True, then the index names are used. A
        sequence should be given if the DataFrame uses MultiIndex.  If
        False do not print fields for index names. Use index_label=False
        for easier importing in R
    nanRep : None
        deprecated, use na_rep
    mode : str
        Python write mode, default 'w'
    encoding : string, optional
        A string representing the encoding to use in the output file,
        defaults to 'ascii' on Python 2 and 'utf-8' on Python 3.
    line_terminator : string, default '\\n'
        The newline character or character sequence to use in the output
        file
    quoting : optional constant from csv module
        defaults to csv.QUOTE_MINIMAL
    quotechar : string (length 1), default '"'
        character used to quote fields
    doublequote : boolean, default True
        Control quoting of `quotechar` inside a field
    escapechar : string (length 1), default None
        character used to escape `sep` and `quotechar` when appropriate
    chunksize : int or None
        rows to write at a time
    tupleize_cols : boolean, default False
        write multi_index columns as a list of tuples (if True)
        or new (expanded format) if False)
    date_format : string, default None
        Format string for datetime objects
    cols : kwarg only alias of columns [deprecated]